/*RESETEO*/
*{
    margin: 0;
    padding: 0;
}

/* FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@font-face {
    font-family: 'Roboto-Medium';
    src: url("roboto/Roboto-Medium.ttf");

}
main {
    font-family: 'Roboto', sans-serif;
}
aside{
    font-family: 'Roboto', sans-serif;
}
/*************
 RESPONSIVE
**************/


/* Desktop */
body{
    width: 100%;
    height: 100vh;
}
/*HEADER Y MENU*/
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(226, 52, 110);
    grid-area: header;
}


.menu-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    height: 47px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
}

li{
    display: inline-block;
    padding: 0px 20px;
}

li, a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #edf0f1;
    list-style: none;
    color: black;
    
}

li a:hover{
    color: rgb(255, 255, 255);
}


/*******HOME*******/

#grid-home{
    display: grid;
    grid-template-areas:
    "header header header"
    "fotos fotos fotos"
    "destacados destacados destacados"
    "footer footer footer"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto 75px; 
}

#slider{
    grid-area: fotos;
}

.img3{
    width: 100%;  
}

#destacados{
    grid-area: destacados;
    
}

.destacados-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.articulo-destacado{
    width: 25%;
    background-color: grey;
    border-radius: 10px;
    padding: 0.5%;
    margin: 10px;
    text-align: center;
}

.img{
    width: 100%;
}

/*^*****PRODUCTOS******/

#grid-productos{
    display: grid;
    grid-template-areas:
    "header header header"
    "productos productos productos"
    "footer footer footer"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 75px; 
}
.centrar-titulo{
    text-align: center;
}
#productos{
    grid-area: productos;
}

.productos-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.articulos{
    width: 25%;
    background-color: grey;
    border-radius: 10px;
    padding: 0.5%;
    margin: 10px;
    text-align: center;
}

.img2{
    width: 100%;
}

/*NOSOTROS*/
#grid-productos{
    display: grid;
    grid-template-areas:
    "header header header"
    "nosotros nosotros nosotros"
    "footer footer footer"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 75px; 
}

#sobre-nosotros{
    grid-area: nosotros;
}
    
.nosotros-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: darkgrey;
    width: 80%;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

/*CONTACTO*/
#grid-contacto{
    display: grid;
    grid-template-areas:
    "header header header"
    "contacto contacto ubicacion"
    "footer footer footer"
    ;
    grid-template-columns: 3fr auto 1.3fr;
    grid-template-rows: 100px auto 75px; 
}

#contacto{
    grid-area: contacto;
}
.contacto-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: darkgrey;
    height: 700px;
    padding-top: 8%;
}
#ubicacion{
    grid-area: ubicacion;
    background-color: azure;
}
.ubicacion-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}
/*AYUDA*/
#grid-ayuda{
    display: grid;
    grid-template-areas:
    "header header header"
    "ayuda ayuda ayuda"
    "footer footer footer"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 75px; 
}


#ayuda{
    grid-area: ayuda;
}

.ayuda-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: start;
    background-color: darkgrey;
    height: 700px;
    padding: 4%;
}

/*FOOTER*/

.redes{
    height: 40px;
    margin: 5px;
}

footer{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: rgb(226, 52, 110);
    text-align: center;
    color: blanchedalmond;
    grid-area: footer;
}
/* Tablet */
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        font-size: 1rem;
    }


    .articulo-destacado{
        width: 28%;
        background-color: grey;
        border-radius: 10px;
        padding: 0.5%;
        margin: 10px;
        text-align: center;
    }
}

/*SMARTPHONE*/
@media (max-width: 480px) {
    body {
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        font-size: 1rem;
    }
    .articulo-destacado{
        width: 25%;
        background-color: grey;
        border-radius: 10px;
        padding: 0.5%;
        margin: 10px;
        text-align: center;
    }
}