/*IMPORTS*/
header nav div a img {
  height: 45px;
  margin-right: 25px; }

header nav div div ul a:hover {
  transform: scale3d(1.07, 1.07, 1.07);
  transform-origin: center center; }

/*FOOTER*/
footer div span {
  text-align: center;
  font-size: 100%;
  margin: 4%; }

footer ul li a img:hover {
  transform: scale3d(1.07, 1.07, 1.07);
  transform-origin: center center; }

section div div div div div p {
  font-size: 90%; }

section div div div div:hover {
  transform: scale3d(1.04, 1.04, 1.04);
  transform-origin: center center; }
