// ESTILOS HEADER 

header {
    nav {
        div {
            a{
                img{
                    height: 45px;
                    margin-right: 25px;
                }
            }
            div{
                ul {
                    a{                        
                        &:hover{
                            transform: scale3d(1.07,1.07,1.07);
                            transform-origin: center center;
                        }
                    }
                }
            }
            
        }
    }
}