/*IMPORTS*/
@import "header";
@import "home";
@import "footer";



section {
    div {
        div {
            div {
                div{
                    div {
                        p{
                            font-size:90%;
                        }
                    }
                    &:hover{
                        transform: scale3d(1.04,1.04,1.04);
                        transform-origin: center center;
                    }
                }
            }
        }
    }
}
